<div>
  <%= render :partial => 'shared/info', :locals => {:model => man}, :class => 'forwardlink smalltext centered' %><br>
  <% if man.confirmed %>
    <%= link_to "view", man,:class => 'forwardlink smalltext centered' %>
    <%= link_to "add a photo", new_man_photo_path(man),:class => 'forwardlink smalltext centered' %>
    <%= link_to "edit", edit_man_path(man),:class => 'forwardlink smalltext centered' %>
  <% else %>
    <%= link_to "approve", approve_man_path(man) %>
  <% end %>
  <%= link_to "destroy", man, :method => :delete, :data => {:confirm => "Delete this man record?"},:class => 'forwardlink smalltext centered' %>
  <%= link_to "back", (man.confirmed)? men_path : new_applications_path, :class => "backlink smalltext centered" %>
</div>