<% if @model.errors.any? %>
  <% @model.errors.full_messages.each do |msg| %>
    <div class='error'>
      <%= msg %>
    </div>
  <% end %>
<% end %>

<%= form_for @model do |f| %>

  <div class='fieldgroup'>
    <div>Personal Information:</div>
    <% if @model.full_name.blank? %>
      <%= f.text_field :first_name, :placeholder => "First name", :class => "two-cols" %>
      <%= f.text_field :second_name, :placeholder => "Second name", :class => "two-cols last" %>
    <% else %>
      <%= f.text_field :full_name, :placeholder => "Full name" %>
    <% end %>
    <%= f.label :date_of_birth, "Birthday:", :class => "date-select" %>
    <div class='select-wrapper birthday-select'>
      <%= f.date_select :date_of_birth, :start_year => 1970, :end_year => Date.today.year%>
    </div>
  </div>

  <div  class='fieldgroup'>
    <div>Contact Information:</div>
    <%= f.text_field :email, :placeholder => "Email" %>
    <%= f.text_field :city, :placeholder => "City", :class => "two-cols smaller" %>
    <%= f.text_field :phone, :placeholder => "Phone", :class => "two-cols larger last" %>
  </div>

  <div class='fieldgroup'>
    <div>Parameters:</div>
    <%= f.text_field :height, :placeholder => "Height", :class => "two-cols with-suffics" %><div class='suffics'>cm</div>
    <%= f.text_field :shoes, :placeholder => "Shoes", :class => "two-cols last" %>
    <%= f.text_field :hair, :placeholder => "Hair", :class => "two-cols" %>
    <%= f.text_field :eyes, :placeholder => "Eyes", :class => "two-cols last" %>
    <% if @model.is_a? Woman %>
      <%= f.text_field :bust, :placeholder => "Breast", :class => "three-cols" %>
      <%= f.text_field :waist, :placeholder => "Waist", :class => "three-cols"  %>
      <%= f.text_field :heaps, :placeholder => "Heaps", :class => "three-cols last"  %>
    <% end %>
  </div>

  <% if @model.id.nil? %>
    <div class='fieldgroup'>
      <div>Upload three of your recent photos.<br><span class='small'>Photos must be in portrait format with aspect ratio 3:4. You should include at least one portrait photo and one full-size photo.</span></div>
      <%= f.fields_for :photos do |photo| %>
        <div class='file-field-wrapper'>
          <%= photo.file_field :image, :class => 'real-file-field' %>
          <div class='fake-file-field prefix'>File:</div><input type='text' class='fake-file-field with-prefix'/>
        </div>
      <% end %>
    </div>
  <% end %>

  <%= f.submit "Submit application" %>
<% end %>
