<div id='magazine' class="centerStart">
  <% @model.photos.each do |photo| %>
    <% if can? :read, photo %>
      <div class='page <%=cycle("odd","even")%>'>
        <%= image_tag(photo.image.url) %>
        <% if can? :manage, photo %>
          <%= link_to "delete", [@model, photo], :method => :delete, :class => "delete-photo", :data => {:confirm => "Delete the photo?"}%>
        <% end %>
      </div>
    <% end %>
  <% end %>
</div>
<div class='info<%= " big" if can? :manage, Model %>' >
  <div class='info-inner'>
    <%= render "shared/model" %>
  </div>
</div>