<h1>Listing children</h1>

<table>
  <tr>
    <th>Full name</th>
    <th>Date of birth</th>
    <th>Email</th>
    <th>Height</th>
    <th>Shoes</th>
    <th>Hair</th>
    <th>Eyes</th>
    <th>Confirmed</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @children.each do |child| %>
  <tr>
    <td><%= child.full_name %></td>
    <td><%= child.date_of_birth %></td>
    <td><%= child.email %></td>
    <td><%= child.height %></td>
    <td><%= child.shoes %></td>
    <td><%= child.hair %></td>
    <td><%= child.eyes %></td>
    <td><%= child.confirmed %></td>
    <td><%= link_to 'Show', child %></td>
    <td><%= link_to 'Edit', edit_child_path(child) %></td>
    <td><%= link_to 'Destroy', child, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Child', new_child_path %>
