<% content_for :sidebar do %>
  <%= render :partial => 'shared/info', :locals => {:model => @child} %>
  <div class='options'>
    <%= link_to "edit", edit_child_path(@child) %><br>
    <%= link_to "destroy", @child, :method => :delete, :data => {:confirm => "Delete this model record?"} %><br>
    <%= link_to "back", children_path %>
  </div>
<% end %>

<%= render :partial => "shared/photo", :collection => @child.photos %>