<%= form_for @search, :url => path, :html => {:method => :get} do |f| %>
  <%= f.text_field :full_name_contains, :size => 15, :placeholder => "Full name" %>
  <div class="row collapse">
    <div class="eight columns">
      <%= f.number_field :height_eq, :size => 15, :placeholder => "Height" %>
    </div>
    <div class="two columns">
      <span class="postfix">cm</span>
    </div>
  </div>
  <%= f.number_field :shoes_eq, :size => 15, :placeholder => "Shoes" %>
  <%= f.text_field :hair_eq, :size => 15, :placeholder => "Hair" %>
  <%= f.text_field :eyes_eq, :size => 15, :placeholder => "Shoes" %>

  <% if woman %> <!-- optional params for women -->
    <%= f.text_field :bust_eq, :size => 15, :placeholder => "Breast" %>
    <%= f.text_field :heaps_eq, :size => 15, :placeholder => "Heaps" %>
    <%= f.text_field :waist_eq, :size => 15, :placeholder => "Waist" %>
  <% end %>

  <% if man %> <!-- optional params for women -->
  <% end %>

  <% if child %> <!-- optional params for women -->
  <% end %>

  <%= f.submit "Filter", :class => "small secondary button" %>
<% end %>