<% if model.errors.any? %>
  <% model.errors.full_messages.each do |msg| %>
    <div class='error'>
      <%= msg %>
    </div>
  <% end %>
<% end %>

<%= form_for(model) do |f| %>

  <%= f.text_field :first_name, :placeholder => "First name" %>
  <%= f.text_field :family_name, :placeholder => "Family name" %>
  <div class="field date-select-wrapper">
    <%= f.label :date_of_birth, "Birthday:" %><%= f.date_select :date_of_birth, :start_year => 1970, :end_year => Date.today.year  %>
  </div>
  <%= f.text_field :email, :placeholder => "Email" %>
  <%= f.text_field :city, :placeholder => "City" %>
  <%= f.text_field :phone, :placeholder => "Phone" %>
  <%= f.number_field :height, :placeholder => "Height" %>
  <%= f.number_field :shoes, :placeholder => "Shoes" %>
  <%= f.text_field :hair, :placeholder => "Hair" %>
  <%= f.text_field :eyes, :placeholder => "Eyes" %>
  <%= f.check_box :confirmed %>

  <% if model.is_a? Woman %>
    <%= f.number_field :bust, :placeholder => "Breast" %>
    <%= f.number_field :waist, :placeholder => "Waist" %>
    <%= f.number_field :heaps, :placeholder => "Heaps" %>
  <% end %>

  <% if model.is_a? Man %>
  <% end %>

  <% if model.is_a? Child %>
  <% end %>

  <% if model.id.nil? %>
    <%= f.fields_for :photos do |photo| %>
      <%= photo.file_field :image %>
    <% end %>
  <% end %>

  <%= f.submit :class => "small secondary button" %>
<% end %>
