<ul class='left-align'>
  <li><strong><%= model.full_name %></strong></li>
  <li>Age: <%= Date.today.year - model.date_of_birth.year %></li>
  <li>Height: <%= model.height %></li>
  <li>Shoes: <%= model.shoes %></li>
  <li>Hair: <%= model.hair %></li>
  <li>Eyes: <%= model.eyes %></li>
  <% if model.is_a? Woman %>
    <li>Breast: <%= model.bust %></li>
    <li>Waist: <%= model.waist %></li>
    <li>Heaps: <%= model.heaps %></li>
  <% end %>
</ul>