<ul class='left-align'>
  <li><%= link_to_unless_current "Latest models", latest_path, :class => "forwardlink" %></li>
  <li><%= link_to_unless_current "Men", men_path, :class => "forwardlink" %></li>
  <li><%= link_to_unless_current "Women", women_path, :class => "forwardlink" %></li>
  <li><%= link_to_unless_current "Children", children_path, :class => "forwardlink" %></li>
  <li><%= link_to_unless_current "Become a model", new_woman_path, :class => "forwardlink" %></li>
  <li><%= link_to_unless_current "Contact", contact_path, :class => "forwardlink" %></li>
</ul>