<div>
  <strong><%= @model.full_name %></strong>
  Age: <%= Date.today.year - @model.date_of_birth.year %>
  Height: <%= @model.height %>
  Shoes: <%= @model.shoes %>
  Hair: <%= @model.hair %>
  Eyes: <%= @model.eyes %>
  <% if @model.is_a? Woman %>
    Breast: <%= @model.bust %>
    Waist: <%= @model.waist %>
    Heaps: <%= @model.heaps %>
  <% end %>

  <% if can? :manage, Model %>
    <% if @model.confirmed %>
      <%= link_to "view", @model %>
      <%= link_to "add a photo", send("new_#{@model.type.downcase}_photo_path", @model) %>
      <%= link_to "edit", send("edit_#{@model.type.downcase}_path", @model) %>
    <% else %>
      <%= link_to "approve", send("approve_#{@model.type.downcase}_path", @model) %>
    <% end %>
    <%= link_to "destroy", @model, :method => :delete, :data => {:confirm => "Delete this man record?"} %>
  <% end %>
</div>