<% if @photo.errors.any? %>
  <% @photo.errors.full_messages.each do |msg| %>
    <div class='error'><%= msg %></div>
  <% end %>
<% end %>

<%= form_for [@model, @photo], :url => send("#{@model.type.downcase}_photos_path", @model) do |f| %>
  <%= f.file_field :image %><br>
  <%= f.check_box :snapshot %>
  <%= f.submit "Add photo" %>
<% end %>
