<%= form_for(@woman) do |f| %>
  <% if @woman.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@woman.errors.count, "error") %> prohibited this woman from being saved:</h2>

      <ul>
      <% @woman.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :full_name %><br />
    <%= f.text_field :full_name %>
  </div>
  <div class="field">
    <%= f.label :date_of_birth %><br />
    <%= f.date_select :date_of_birth %>
  </div>
  <div class="field">
    <%= f.label :email %><br />
    <%= f.text_field :email %>
  </div>
  <div class="field">
    <%= f.label :height %><br />
    <%= f.number_field :height %>
  </div>
  <div class="field">
    <%= f.label :shoes %><br />
    <%= f.number_field :shoes %>
  </div>
  <div class="field">
    <%= f.label :hair %><br />
    <%= f.text_field :hair %>
  </div>
  <div class="field">
    <%= f.label :eyes %><br />
    <%= f.text_field :eyes %>
  </div>
  <div class="field">
    <%= f.label :confirmed %><br />
    <%= f.check_box :confirmed %>
  </div>
  <div class="field">
    <%= f.label :bust %><br />
    <%= f.number_field :bust %>
  </div>
  <div class="field">
    <%= f.label :waist %><br />
    <%= f.number_field :waist %>
  </div>
  <div class="field">
    <%= f.label :heaps %><br />
    <%= f.number_field :heaps %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
