<p id="notice"><%= notice %></p>

<p>
  <b>Full name:</b>
  <%= @woman.full_name %>
</p>

<p>
  <b>Date of birth:</b>
  <%= @woman.date_of_birth %>
</p>

<p>
  <b>Email:</b>
  <%= @woman.email %>
</p>

<p>
  <b>Height:</b>
  <%= @woman.height %>
</p>

<p>
  <b>Shoes:</b>
  <%= @woman.shoes %>
</p>

<p>
  <b>Hair:</b>
  <%= @woman.hair %>
</p>

<p>
  <b>Eyes:</b>
  <%= @woman.eyes %>
</p>

<p>
  <b>Confirmed:</b>
  <%= @woman.confirmed %>
</p>

<p>
  <b>Bust:</b>
  <%= @woman.bust %>
</p>

<p>
  <b>Waist:</b>
  <%= @woman.waist %>
</p>

<p>
  <b>Heaps:</b>
  <%= @woman.heaps %>
</p>


<%= link_to 'Edit', edit_woman_path(@woman) %> |
<%= link_to 'Back', women_path %>
