<!DOCTYPE html>

<!-- paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/ -->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
  <meta charset="utf-8" />
  <!-- Set the viewport width to device width for mobile -->
  <meta name="viewport" content="width=device-width" />
  <title>OK model studio</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

  <div class="notice"><%= notice %></div>
  <div class="alert"><%= alert %></div>

  <div class='sidebar'>
    <ul class='left-align'>
      <li><%= link_to_unless_current "New faces", latest_path %></li>
      <li><%= link_to_unless_current "Men", men_path %></li>
      <li><%= link_to_unless_current "Women", women_path %></li>
      <% if can? :read, Child %>
        <li><%= link_to_unless_current "Children", children_path %></li>
      <% end %>
      <li><%= link_to_unless_current "Become a model", new_woman_path %></li>
      <li><%= link_to_unless_current "Contact", contact_path %></li>
    </ul>
  </div>
  <!-- models list -->
  <div class='content'>
    <%= yield %>
  </div>

  <div class='adminbar'>
    <% if current_user %>
      <div>Hello, <%= current_user.email %></div>
      <div><%= link_to "Sign out", destroy_user_session_path, :method => :delete %></div>
      <% if can? :new_applications, Model  %>
        <div><%= link_to "View new applications", new_applications_path %></div>
      <% end %>
    <% else %>
      <div><%= link_to "Sign in", new_user_session_path %> to see admin options</div>
    <% end %>
  </div>

</body>
</html>
