<!DOCTYPE html>

<!-- paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/ -->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
  <meta charset="utf-8" />
  <!-- Set the viewport width to device width for mobile -->
  <meta name="viewport" content="width=device-width" />
  <title>OK Model Agency</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <script type="text/javascript" src='http://code.jquery.com/jquery-1.8.3.min.js'></script>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

  <!-- models list -->
  <div style='overflow:hidden'>
    <div class='content'>
      <% if notice %><div class="notice"><%= notice %></div><% end %>
      <% if alert %><div class="alert"><%= alert %></div><% end %>
      <%= yield %>
    </div>
    
    <div class='sidebar'>
      <%= link_to image_tag('/images/logo.png'), root_path, :class => "no-fade" %>
      <ul>
        <li><%= link_to_unless_current "New faces", latest_path %></li>
        <li><%= link_to_unless_current "Mediastars", mediastars_path %></li>
        <li><%= link_to_unless_current "Men", men_path %></li>
        <li><%= link_to_unless_current "Women", women_path %></li>
        <% if can? :read, Child %>
          <li><%= link_to_unless_current "Children", children_path %></li>
        <% end %>
        <li><%= link_to_unless_current "Become a model", new_woman_path %></li>
        <li><%= link_to_unless_current "Contact", contact_path %></li>
      </ul>
    </div>
  </div>

  <div class='adminpanel'>
    <div class='trigger'></div>
    <div class='options'>
      <% if current_user %>
        <div>Hello, <%= current_user.email %></div>
        <% if can? :new_applications, Model  %>
          <div><%= link_to "New applications", new_applications_path, :class => "button" %></div>
        <% end %>
        <div><%= link_to "Sign out", destroy_user_session_path, :method => :delete, :class => "button" %></div>
      <% else %>
        <h3 class='centered'>Sign in</h3>
        <%= form_for("user", :url => user_session_path) do |f| %>
          <%= f.email_field :email, :placeholder => "Email", :size => 20 %>
          <%= f.password_field :password, :placeholder => "Password", :size => 20 %>
          <%= f.check_box :remember_me %>
          <%= f.label :remember_me, :class => "small" %>
          <%= f.submit 'Sign in' %>
          <%= link_to "Forgot your password?", new_password_path('user'), :class => "small centered" %>
        <% end %>
      <% end %>
    </div>
  </div>

  <div class='bg-wrap'>
    <img src='/images/bg.jpg' id='bg' class='<%=yield :bgimgclass%>'/>
  </div>

</body>
</html>
